Modulo07_WebService_WSDL/Projeto01_ServiceWFC/Projeto02_ConsumoWCF/Connected Services/ServicePooxy/ServiceConceitos3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49572/ServiceConceitos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Projeto01_ServiceWFC.Models" />
  <xs:import schemaLocation="http://localhost:49572/ServiceConceitos.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ListarAluno">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarAlunoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Projeto01_ServiceWFC.Models" minOccurs="0" name="ListarAlunoResult" nillable="true" type="q1:ArrayOfAluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarAluno">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Projeto01_ServiceWFC.Models" minOccurs="0" name="aluno" nillable="true" type="q2:Aluno" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AdicionarAlunoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarNome">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarNomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ListarNomeResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularSoma">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="y" type="xs:double" />
        <xs:element minOccurs="0" name="z" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularSomaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcularSomaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>